name: MacOS
on: 
  push:
    branches:
      - '**'
    tags:
      - 'v*'
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'
jobs:
  build:
    name: Build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-14]
        qt_ver: ['6.7.2']
        qt_arch: [clang_64]
    env:
      targetName: ChineseChess
      targetOS: macos

    steps:
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          version: ${{ matrix.qt_ver }}
          arch: ${{ matrix.qt_arch }}

      - uses: actions/checkout@v4
        with:
          fetch-depth: 1
          submodules: true

      - name: Configure & Build
        run: |
          cmake -S . -B build -DCMAKE_PREFIX_PATH="$Qt6_DIR"
          cmake --build build --config Release -- -j$(sysctl -n hw.ncpu)

          echo "-------------- debug 1 --------------"
          pwd
          ls -al

          echo "-------------- debug 2 --------------"
          cd build/bin
          ls -al

      - name: NameVersion
        id: NameVersion
        if: startsWith(github.event.ref, 'refs/tags/')
        shell: pwsh
        run: |
          $systemInfo="${{ env.targetOS }}"
          $productVersion="${{ github.ref }}".substring("refs/tags/v".length)
          $productName="${{ env.targetName }}-$productVersion-$systemInfo-x64"

          echo "systemInfo=$systemInfo" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "productVersion=$productVersion" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "productName=$productName" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      # tag打为.zip包 
      - name: package
        id: package
        if: startsWith(github.event.ref, 'refs/tags/')
        shell: bash
        run: |
          # 拷贝依赖
          mkdir bin

          echo "-------------- debug 1 --------------"
          pwd
          ls -al

          cp -r build/bin/${{ env.targetName }}.app bin

          echo "-------------- debug 2 --------------"
          pwd
          ls -al

          echo "-------------- debug 3 --------------"
          cd bin
          pwd
          ls -al
          
          macdeployqt ${{ env.targetName }}.app -dmg
          mv ${{ env.targetName }}.dmg ../${{ env.productName }}.dmg


          echo "-------------- debug 4 --------------"
          pwd
          ls -al


          echo "-------------- debug 5 --------------"
          cd ../
          pwd
          ls -al

          echo "-------------- debug 6 --------------"
          cd bin
          ls -al
          pwd

      - uses: actions/upload-artifact@v4
        if: startsWith(github.event.ref, 'refs/tags/')
        with:
          name: ${{ env.productName }}-macos
          path: ${{ env.productName }}.dmg

      # tag上传Release
      - name: uploadRelease
        if: startsWith(github.event.ref, 'refs/tags/')
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.upload_release }}
        with:
          draft: false
          prerelease: false
          files: |
            ${{ env.productName }}.dmg
          tag: ${{ github.ref }}
          overwrite: true 
